 
 
    <body>
        <p>i am learning astor web page</p>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>About me</h1>
        <h2>...and with my new astro web page</h2>
        
    </body>
 