<body>
    <a href="/">HOME</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>my astro web</h1>
    <p>here,we'll share my astro web</p>
    <li><a href="/posts/post-1">my article 1</a></li>
    <li><a href="/posts/post-2/">my article 2</a></li>
    <li><a href="/posts/post-3/">my article 3</a></li>
</body>